@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your own custom utilities */

.hs-form__virality-link {
  @apply invisible;
}

.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-4xl;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}
.wp-block-columns {
  @apply flex  flex-wrap;
}

.wp-block-column {
  @apply w-full md:flex-1 text-gray-700 text-center px-4 py-2 m-2;
}

.wp-block-embed .wp-block-embed__wrapper {
  @apply aspect-w-16 aspect-h-9;
}

.wp-block-embed-tiktok .wp-block-embed__wrapper {
  @apply aspect-w-9 aspect-h-16;
}

.wc-block-grid__products {
  @apply w-fit mx-auto grid grid-cols-1 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5;
}
.wc-block-grid__product {
  @apply w-72  list-none bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl;
}

.wc-block-grid__product-add-to-cart {
  @apply hidden;
}
.wc-block-grid__product-onsale {
  @apply hidden;
}
.wc-block-grid__product-image img {
  @apply h-80 w-72 object-cover rounded-t-xl;
}

.wc-block-grid__product-title {
  @apply px-4 py-3 text-lg font-bold text-black block capitalize;
}

.wc-block-grid__product-price {
  @apply px-4  flex items-center;
}

.wc-block-grid__product-price ins {
  @apply text-2xl no-underline	 font-semibold text-black cursor-auto my-3 ml-2;
}
.wc-block-grid__product-price del {
  @apply text-sm text-gray-600 cursor-auto;
}

.wc-block-grid__product-link {
  @apply no-underline !important;
}
